Flask==2.0.2
coloredlogs==15.0.1
Flask_Cors==3.0.10
pytest==6.2.5
protobuf==3.19.3
pyserial==3.5
ffmpeg
nltk
google-api-core
google-auth
google-cloud-core
google-cloud-speech
google-cloud-storage
google-cloud-translate